.titles {
  font-family: "ArtBold";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.general-gaps {
  gap: 30px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  justify-content: space-between;
}

.menu-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  gap: 16px;
}

.menu-item a {
  color: #4d6259;
  text-decoration-line: none;
  padding: 0;
  transition: 0.3s
}

.menu-item a:hover {
  border-bottom: 4px solid #4d6259;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-shtab {
  width: 150px;
  border-radius: 10px;
  height: auto;
}

.contacts-us {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.telegram a,
.vk a {
  text-decoration-line: none;
  color: #4d6259;
  border-bottom: 1px solid #4d6259;
  transition: 0.3s
}

.telegram a:hover,
.vk a:hover {
  border-bottom: 4px solid #4d6259;
}

.telegram,
.vk {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.img-icon-heart {
  width: 20px;
  height: 20px;
}

@media (max-width: 1220px) {
  .header-top {
    font-size: 12px;
  }

  .btn-leave-contact {
    z-index: 2;
  }

  .menu-item {
    display: none;
  }
}

@media (max-width: 960px) {
  .img-shtab {
    width: 120px;
  }

  .menu-item a {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .img-telegram,
  .img-vk {
    display: block;
    width: 20px;
  }

  .vk-telegram-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

@media (max-width: 440px) {
  .img-shtab {
    width: 80px;
  }

  .telegram a,
  .vk a {
    font-size: 12px;
  }

  .general-gaps {
    gap: 15px;
  }
}
