<div class="header-top general-gaps">
    <div class="logo">
      <img class="img-shtab" src="shtab.png" alt="Лого штаба" />
    </div>
    <nav class="menu">
      <ul class="menu-item">
        <li><a href="#about-us">О нас</a></li>
        <li><a href="#our-values">Ценности</a></li>
        <li><a href="#our-achievements">Чего мы добились</a></li>
        <li><a href="#our-program">Наша программа</a></li>
        <li><a href="#map">Карта проблем Купчино</a></li>
        <li><a href="#candidates">Кандидаты</a></li>
      </ul>
    </nav>
    <div class="contacts-us general-gaps">
        <div class="telegram">
          <img class="img-icon-heart" src="icon-heart.svg" alt="" />
          <a href="{{tg}}">ТГ</a>
        </div>
        <div class="vk">
          <img class="img-icon-heart" src="icon-heart.svg" alt="" />
          <a href="{{vk}}">ВК</a>
        </div>
    </div>
  </div>