.general-gaps {
    gap: 30px;
}

.improvement {
    display: flex;
    flex-direction: column;
    width: 560px;
}

.title-our-improvement {
    font-family: ArtBold;
    margin: 0;
}

.text-our-improvement {
    margin: 0;
}

.arrows {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.arrow {
    width: 20px;
    height: auto;
}

.arrow-left {
    transform: scale(-1, 1);
    z-index: 1;
}

@media (max-width: 1200px) {
    .improvement {
        width: 490px;
        align-items: center;
        margin-bottom: 30px;
    }

    .text-our-improvement,
    .title-our-improvement {
        text-align: center;
    }
}

@media (max-width: 680px) {
    .improvement {
        width: 390px;
    }
}

@media (max-width: 470px) {
    .improvement {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .improvement {
        width: 300px;
    }
}

