<div class="improvement general-gaps">
    <p class="title-our-improvement">{{textArray[currentIndex].title}}</p>
    <p class="text-our-improvement">{{textArray[currentIndex].text}}</p>
    <div class="arrows">
        <img class="arrow-left arrow" src="./candidates/array.svg" alt="" (click)="prevText()">
        <img class="arrow-right arrow" src="./candidates/array.svg" alt="" (click)="nextText()">
    </div>  
</div>