.wrapper {
  display: flex;
  flex-direction: column;
  margin: 115px 0;
}

.titles {
  font-family: "ArtBold";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.general-gaps {
  gap: 30px;
}

.a:before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 10px;
  visibility: hidden;
  }

.qr {
  width: 255px;
}

.text-footer {
  width: 350px;
}

.qr-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.title-text-footer {
  display: flex;
  flex-direction: column;
  align-items: center
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-text {
  width: 400px;
  margin: 0;
}

.text-action-footer {
  width: 440px;
  margin: 0;
  text-align: center;
}

.form-item {
  height: 50px;
  border-radius: 10px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 10px;
}

.form :placeholder-shown {
  gap: 32px;
  padding-left: 10px;
}

.form-item:focus {
  border: 1px solid #4d6259;
  border-color: #4d6259;
  outline: #4d6259;
}

.btn-leave-contact {
  background-color: #4d6259;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  width: 200px;
  height: 50px;
  transition: 0.3s
}

.btn-leave-contact:hover {
  background-color: #33423c;
}

.toast {
  display: none;
  background-color: #ffffff;
  position: fixed;
  width: 500px;
  top: 30%; /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 35px 20px 25px;
  border-left: 6px solid #4d6259;
  box-shadow: 0 5px 10px 100vh #4d4d4d42;
  z-index: 4;
}

.active {
  display: block;
}

.toast .toast-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  
}

.notification {
  color: #000000;
} 

.ic {
  color: #000000;
}

.text-2 {
  font-size: 50px;
}

.close {
  position: absolute;
  right: 15px;
  top: 5px;
  margin: 0;
  padding: 0;
  padding: 5px;
  cursor: pointer;
}

@media (max-width: 660px) {
  .toast {
      width: 300px;
  }

  .text-2 {
      font-size: 30px;
  }
}

@media (max-width: 540px) {
  input {
      width: 200px;
  }

  .texts {
      width: 300px;
  }
}

@media (max-width: 380px) {
  .toast {
      width: 200px;
  }
}

@media (max-width: 1200px) {
  .text-footer {
    width: 300px;
  }
}

@media (max-width: 960px) {
  .footer {
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .title-text-footer {
    text-align: center;
    align-items: center;
  }
  
  .form :placeholder-shown {
    width: 400px;
  }

  .form form{
    align-items: center;
  }

  .form {
    align-items: center
  }

  .form-text {
    text-align: center;
  }

  .form-item {
    width: 400px;
  }

  .titles {
    font-size: 30px;
  }

  .text-footer {
    display: none;
  }

  input::placeholder {
    padding-left: 10px;
}
}

@media (max-width: 440px) {
  .form-item {
    width: 280px;
  }

  .form form {
    align-items: center;
  }

  .text-action-footer {
    width: 280px;
    margin: 0;
  }

  .form :placeholder-shown {
    width: 280px;
  }

  .form-text {
    width: auto;
  }
}