<a name="footer" class="a"></a>
<div class="wrapper general-gaps">
  <div class="title-text-footer general-gaps">
    <p class="title-footer titles">Голосуйте за нас!</p>
    <p class="text-action-footer">Приходите на выборы и ищите в бюллетени наших кандидатов.</p>
  </div>
  <div class="footer general-gaps">
    <div class="qr-text">
      <img class="qr" src="/qr.png" alt="qr">
      <img class="text-footer" src="/text-footer.png" alt="Сделаем современную власть открытой, эффективной и современной">
    </div>
    <div class="form general-gaps"> 
      <p class="form-text">Оставьте свои контакты, чтобы получить информацию о кандидатах, дате и месте голосования накануне выборов.</p> 
      <form action="" (ngSubmit)="sendData()"> 
        <input class="form-item" id="name" type="text" placeholder="Имя" [(ngModel)]="formData.name" name="userName"> 
        <input class="form-item" id="number" type="text" placeholder="Телефон, почта, социальные сети" [(ngModel)]="formData.number" name="userNumber"> 
        <input class="form-item" id="adress" type="text" placeholder="Ваш адрес прописки" [(ngModel)]="formData.address" name="userAddress"> 
        <button class="btn-leave-contact">Оставить контакт</button> 
      </form> 
    </div>
  </div>
</div>