<div class="call-to-action general-gaps">
    <p class="title-call-to-action">
      Cделаем местную власть открытой, эффективной и современной!
    </p>
    <p class="paragraf-call-to-action">
      8 сентября голосуйте за Штаб Купчино на муниципальных выборах 2024
    </p>
    <a href="#footer"><button class="btn-leave-contact">Оставить контакт</button></a>
  </div>