.titles {
  font-family: "ArtBold";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.general-gaps {
  gap: 30px;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 250px 0 200px 0;
}

.title-call-to-action {
  font-family: "ArtBold";
  font-size: 56px;
  margin: 0;
  max-width: 1180px;
}

.paragraf-call-to-action {
  margin: 0;
}

.btn-leave-contact {
  background-color: #4d6259;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  width: 200px;
  height: 50px;
  transition: 0.3s
}

.btn-leave-contact:hover {
  background-color: #33423c;
}


@media (max-width: 1080px) {
  .title-call-to-action {
    font-size: 45px;
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .titles {
    font-size: 30px;
  }
}

@media (max-width: 680px) {
  .title-call-to-action {
    font-size: 38px;
  }

  .paragraf-call-to-action {
    width: 400px;
  }
}

@media (max-width: 520px) {
  .title-call-to-action {
    font-size: 30px;
  }
}

@media (max-width: 440px) {
  .paragraf-call-to-action {
    width: 280px;
  }
}