<div class="wrapper general-gaps">
    <div class="texts">
        <p  class="find-out-text">Узнать свой избирательный округ:</p>
        <p class="correction-text">Введите через запятую улицу, номер дома и корпус (если есть).</p>
    </div>
    <div class="input-btn">
        <input [(ngModel)]="input" type="text" placeholder="Пример: Белградская ул.,6,1">
        <button  class="btn" (click)="find()">Узнать</button>
    </div>
</div>

<div class="toast" [ngClass]="{active: isNotification}"> 
    <div class="toast-content"> 
        <p class="ic">✓</p> 
        <div class="message"> 
            <span class="notification text-1">Ваш округ:</span> 
            <span class="notification text-2">{{this.response.district}}</span> 
        </div> 
    </div> 
    <p class="close ic" (click)="toExit()">✕</p> 
    <div class="progress"></div> 
</div> 
 
<!-- <div class="toast" [ngClass]="{active: isNotification}"> 
    <div class="toast-content"> 
        <div class="message"> 
            <span class="notification text-1">Вы неправильно ввели адрес! Проверьте его написание.</span> 
        </div> 
    </div> 
    <p class="close ic" (click)="toExit()">✕</p> 
    <div class="progress"></div> 
</div> -->
<!-- @if(errorMessage) {
   <div>
    {{ errorMessage }}
  </div> 
}
@else {
    <div>Все ок</div>
} -->
