.general-gaps {
    gap: 30px;
  }

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 115px 0;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.find-out-text {
    margin: 0 0 5px 0;
    text-align: center;
}

.correction-text {
    color: #4d6259;
    margin: 0;
    opacity: 30%;
    text-align: center;
}

input {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 15px;
}

input:focus {
    border-color: #4d6259;
    outline: #4d6259;
}

.input-btn {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #4d6259;
    color: #ffffff;
}

.toast {
    display: none;
    background-color: #ffffff;
    position: fixed;
    width: 500px;
    top: 30%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 35px 20px 25px;
    border-left: 6px solid #4d6259;
    box-shadow: 0 5px 10px 100vh #4d4d4d42;
    z-index: 4;
}

.active {
    display: block;
}

.toast .toast-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toast-content .message {
    display: flex;
    flex-direction: column;

}

.notification {
    color: #000000;
} 

.ic {
    color: #000000;
}

.text-2 {
    font-size: 50px;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    margin: 0;
    padding: 0;
    padding: 5px;
    cursor: pointer;
}

@media (max-width: 660px) {
    .toast {
        width: 300px;
    }

    .text-2 {
        font-size: 30px;
    }
}

@media (max-width: 540px) {
    input {
        width: 200px;
    }

    .texts {
        width: 300px;
    }
}

@media (max-width: 380px) {
    .toast {
        width: 200px;
    }
}