.titles {
  font-family: "ArtBold";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.general-gaps {
  gap: 30px;
}

.a:before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 10px;
  visibility: hidden;
}

.about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 115px 0;
}

.items-about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img-about-us {
  width: 530px;
  height: auto;
  border-radius: 30px;
}

.text-about-us {
  width: 500px;
  margin: 0;
  text-align: left;
}

.title-about-us {
  margin: 0;
}

@media (max-width: 1220px) {
  .text-about-us {
    width: 400px;
  }
}

@media (max-width: 1080px) {
  .img-about-us {
    width: 430px;
  }
}

@media (max-width: 960px) {
  .img-about-us {
    width: 400px;
  }

  .titles {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .text-about-us {
    max-width: 300px;
  }
  
}

@media (max-width: 800px) {
  .img-about-us {
    width: 320px;
  }

}

@media (max-width: 665px) {
  .about-us {
    flex-wrap: wrap;
    justify-content: center;
  }

  .items-about-us {
    align-items: center;
    text-align: center;
  }

  .text-about-us {
    text-align: center;
  }
}

@media (max-width: 440px) {
  .img-about-us {
    width: 280px;
  }
}