<a name="about-us" class="a"></a>
<div class="about-us general-gaps" >
    <img class="img-about-us" src="we.jpg" alt="">
    <div class="items-about-us general-gaps">
      <p class="title-about-us titles">Кто мы</p>
      <p class="text-about-us">Команда независимых кандидатов-самовыдвиженцев, которая 8 сентября будет участвовать в муниципальных выборах в округе Купчино. Ваши соседи. Участники общественного движения Штаб Купчино.</p>
    </div>
  </div>