<a name="map" class="a"></a>
<div class="map-block general-gaps">
    <p class="title-map titles">Карта проблем Купчино</p>
    <p class="text-map">Проблемы, которые мы успешно решили, в процессе решения и в планах на будущее.</p>
    <div class="img-map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a><a href="https://yandex.ru/maps/2/saint-petersburg/?ll=30.391254%2C59.864899&mode=usermaps&source=constructorLink&um=constructor%3A12a4887bc549dc362eadc70a79507f6a6f98c3b27ef4516812ab6cce604edce9&utm_medium=mapframe&utm_source=maps&z=13.84" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.ru/map-widget/v1/?ll=30.391254%2C59.864899&mode=usermaps&source=constructorLink&um=constructor%3A12a4887bc549dc362eadc70a79507f6a6f98c3b27ef4516812ab6cce604edce9&z=13.84" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
</div>