.titles {
  font-family: "ArtBold";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.general-gaps {
  gap: 30px;
}

.a:before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 10px;
  visibility: hidden;
  }

.map-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 115px 0;
}

.text-map {
  margin: 0;
  text-align: center;
}

.img-map {
  border-radius: 32px;
  border: none;
}

@media (max-width: 960px) {
  .titles {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .img-map {
    width: 500px;
    height: 400px;
  }

  .text-map {
    width: 500px;
  }
}

@media (max-width: 680px) {
  .img-map {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 520px) {
  .text-map {
    width: auto;
  }
}

@media (max-width: 400px) {
  .img-map {
    width: 300px;
  }
}