.titles {
  font-family: "ArtBold";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.general-gaps {
  gap: 30px;
}

.a:before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 10px;
  visibility: hidden;
  }

.our-achievements {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 115px 0;
}

.text-our-achievements {
  margin: 0;
  max-width: 700px;
  text-align: center;
}

.text2-our-achievements {
  text-align: center;
  font-family: "ArtBold";
  max-width: 400px;
}

.img-our-achievements {
  width: 530px;
  position: absolute;
  border-radius: 32px;
}

.img-text {
  width: 530px;
}

.items-our-achievements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.items2-our-achievements {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
}

.items1-our-achievements {
  display: flex;
  flex-direction: column;
}

.item-our-achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background-color: #f2f2f2;
  padding: 20px;
}

@media (max-width: 1220px) {
  .items2-our-achievements {
    margin-top: 0cap;
  }

  .img-text {
    text-align: center;
  }

  .titles {
    width: 500px;
  }
}

@media (max-width: 960px) {
  .titles {
    font-size: 30px;
  }

  .titles {
    width: auto;
  }
}

@media (max-width: 800px) {
  .text-our-achievements {
    width: 500px;
  }
}

@media (max-width: 680px) {
  .img-text {
    width: 320px;
  }
}
@media (max-width: 680px) {
  .text-our-achievements {
    width: 320px;
  }
}

@media (max-width: 470px) {
  .img-text {
    width: 320px;
  }
}

@media (max-width: 395px) {
  .img-text {
    width: 300px;
  }
}

