<a name="our-achievements" class="a"></a>
<div class="our-achievements  general-gaps">
    <p class="title-our-achievements titles">Чего мы добились в 72 муниципалитете</p>
    <p class="text-our-achievements">Пять лет назад команда Штаб Купчино провела крупнейшую в истории Фрунзенского района избирательную кампанию. Выдвинула 68 кандидатов и победила на выборах в соседнем муниципалитете № 72. За 5 лет работы мы:</p>
    <div class="items-our-achievements general-gaps">
      <div class="items1-our-achievements general-gaps">
        <div class="item-our-achievements">
            <app-slider [imgsArray]="constants.imgsOurAchievements1"></app-slider>
            <p class="img-text">Защитили от застройки парк Интернационалистов</p>
        </div>
        <div class="item-our-achievements">
          <app-slider [imgsArray]="constants.imgsOurAchievements6"></app-slider>
          <p class="img-text">Построили крутые детские площадки</p>
        </div>
        <div class="item-our-achievements">
          <app-slider [imgsArray]="constants.imgsOurAchievements7"></app-slider>
          <p class="img-text">Создали удобные и качественные зоны отдыха</p>
        </div>
        <div class="item-our-achievements">
          <app-slider [imgsArray]="constants.imgsOurAchievements9"></app-slider>
          <p class="img-text">Проложили множество пешеходных дорожек и отремонтировали десятки проездов</p>
        </div>
        <div class="item-our-achievements">
          <app-slider [imgsArray]="constants.imgsOurAchievements4"></app-slider>
          <p class="img-text">Защитили газоны от парковки машин</p>
        </div>
      </div>
      <div class="items2-our-achievements general-gaps">
        <div class="item-our-achievements">
          <app-slider [imgsArray]="constants.imgsOurAchievements2"></app-slider>
          <p class="img-text">Провели сотни культурных и спортивных мероприятий для жителей</p>
        </div>
        <div class="item-our-achievements">
          <app-slider [imgsArray]="constants.imgsOurAchievements8"></app-slider>
          <p class="img-text">Создали Молодежный совет, десятки юных жителей поучаствовали в работе местных властей.</p>
        </div>
        <div class="item-our-achievements">
          <app-slider [imgsArray]="constants.imgsOurAchievements3"></app-slider>
          <p class="img-text">Добились сохранения и благоустройства мемориального комплекса «Оборонительный рубеж «Ижора» на Димитрова. Увеличили на 30% площадь муниципальных скверов.</p>
        </div>
        <div class="item-our-achievements">
          <app-slider [imgsArray]="constants.imgsOurAchievements5"></app-slider>
          <p class="img-text">Последовательно выступаем против закона о сносе хрущевок. В декабре 2022 наш муниципалитет внес в городское Законодательное собрание законопроект об отмене КРТ. Он не был рассмотрен на заседании парламента. Но результат все равно был достигнут. Закон заморожен до 2025 года.</p>
        </div>
      </div>
    </div>
  </div>