.titles {
    font-family: "ArtBold";
    font-size: 40px;
    margin: 0;
    text-align: center;
  }

.a:before {
display: block;
content: " ";
margin-top: -130px;
height: 10px;
visibility: hidden;
}

.candidates {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 115px 0;
}

.text-candidates {
    width: 700px;
    text-align: center;
}

.items-candidates {
    display: flex;
}

.item-candidates {
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-candidates a {
    text-decoration: none;
    color: #4D6259;
    transition: 3s;
}

.item-candidates a:hover {
    text-decoration: underline;
}

.img-area {
    width: 530px;
    border-radius: 30px;
}

.general-gaps {
    gap: 30px;
}

.title-area-candidates {
    font-size: 22px;
    font-family: ArtBold;
    margin: 0;
}

.hidden {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.icon-photo-candidates {
    position: absolute;
    width: 70px;
}

div.icons-photo-candidates {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media (max-width: 1220px) {

    .items-candidates {
        flex-direction: column;
    }
}

@media (max-width: 960px) {
    .titles {
        font-size: 30px;
    }
}

@media (max-width: 800px) {
    .text-candidates {
        width: 500px;
    }
}

@media (max-width: 680px) {
    .img-area {
        width: 400px;
    }

    .icon-photo-candidates {
        width: 50px;
    }

    .hidden {
        width: 50px;
        height: 50px;
    }

    .title-area-candidates {
        font-size: 20px;
    }

    .text-candidates {
        width: 320px;
    }
}
@media (max-width: 470px) {
    .img-area {
        width: 320px;
    }

    .icon-photo-candidates {
        width: 45px;
    }

    .hidden {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 395px) {
    .img-area {
        width: 280px;
    }
}