<a name="candidates" class="a">
    <div class="candidates general-gaps">
        <p class="title-our-candidates titles">Наши кандидаты</p>
        <div class="items-candidates general-gaps">
            <div class="item-candidates"> 
                <img class="img-area" src="/candidates/district-217/area.png" alt="">
                <div class="icons-photo-candidates">
                    <div class="hidden">
                        <img class="icon-photo-candidates" src="./candidates/district-217/img-1.png" alt="">
                    </div>
                    <div class="hidden">
                        <img class="icon-photo-candidates" src="./candidates/district-217/img-2.png" alt="">
                    </div>
                </div>
                <p class="title-area-candidates">Избирательный округ 217</p>
                <a *ngIf="currentCandidate" [routerLink]="['/current-district', currentCandidate!.district]" (click)="openDistrict(currentCandidateService.candidatesSlider[0])">Подробнее о кандидатах</a>
            </div>
            <div class="item-candidates"> 
                <img class="img-area" src="/candidates/district-218/area.png" alt="">
                <div div class="icons-photo-candidates">
                    <div class="hidden">
                        <img class="icon-photo-candidates" src="./candidates/district-218/img-1.jpg" alt="">
                    </div>
                    <div class="hidden">
                        <img class="icon-photo-candidates" src="./candidates/district-218/img-2.png" alt="">
                    </div>
                    <div class="hidden">
                        <img class="icon-photo-candidates" src="./candidates/district-218/img-3.png" alt="">
                    </div>
                </div>
                <p class="title-area-candidates">Избирательный округ 218</p>
                <a *ngIf="currentCandidate" [routerLink]="['/current-district', currentCandidate!.district]" (click)="openDistrict(currentCandidateService.candidatesSlider[1])">Подробнее о кандидатах</a>
            </div>
        </div>
        <div class="items-candidates general-gaps">
            <div class="item-candidates"> 
                <img class="img-area" src="/candidates/district-219/area.png" alt="">
                <div class="icons-photo-candidates">
                    <div class="hidden"><img class="icon-photo-candidates" src="./candidates/district-219/img-1.png" alt=""></div>
                    <div class="hidden"><img class="icon-photo-candidates" src="./candidates/district-219/img-2.jpeg" alt=""></div>
                </div>
                <p class="title-area-candidates">Избирательный округ 219</p>
                <a *ngIf="currentCandidate" [routerLink]="['/current-district', currentCandidate!.district]" (click)="openDistrict(currentCandidateService.candidatesSlider[2])">Подробнее о кандидатах</a>
            </div>
        </div>
    </div>
</a>