<div class="slider-block">
    <div class="wrapper">
        <div class="district">            
            <img src="./candidates/cross.svg" alt="" (click)="toExit()">
        </div>
            <div class="candidates general-gaps" *ngIf="candidateData">
                <img class="arrow-left arrow" src="./candidates/array.svg" alt="" (click)="prevImage()">
                <div class="text-slider general-gaps" > 
                        <p class="name-candidates">{{ candidateData[currentIndex].candidateName }}</p>
                        <p class="age-candidates">{{ candidateData[currentIndex].candidateAge }}</p>
                        <p>{{ candidateData[currentIndex].candidateText }}</p>
                </div>
                <div class="hidden">
                    <img class="img-candidates" src="{{candidateData[currentIndex].candidateImg}}" alt="">
                </div>
            <img class="arrow-right arrow" src="./candidates/array.svg" alt="" (click)="nextImage()">
        </div>    
    </div>
</div>