.slider-block {
    margin: 115px 0;
}

.active {
    color: #000;
}

.text-slider {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.text-slider p {
    margin: 0;
}

.general-gaps {
    gap: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.candidates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.district {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 70px;
}

.district p {
    margin: 0;
    color: #aba9a9;
}

.district-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.text-img-candidates {
    display: flex;
    flex-direction: row;
}

.text-slider p {
    width: 360px;
}

.img-candidates {
    width: 480px;
    position: absolute;
}

.hidden {
    width: 480px;
    height: 500px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.arrow {
    width: 20px;
    height: auto;
}

.arrow-left {
    transform: scale(-1, 1);
    z-index: 1;
}

.name-candidates {
    font-family: "ArtBold";
}

.age-candidates {
    color: #aba9a9;
}

@media (max-width: 1200px) {
    .img-candidates {
        width: 400px;
    }

    .hidden {
        width: 400px;
    }
}

@media (max-width: 960px) {
    .candidates {
        flex-direction: column-reverse;

    }

    .text-slider {
        align-items: center;
    }

    .text-slider p {
        text-align: center;
    }

    .img-candidates {
        position: relative;
    }

    .arrow-left {
        position: absolute;
        left: 100px;
    }

    .arrow-right {
        position: absolute;
        right: 100px;
    }
}

@media (max-width: 680px) {
    .img-candidates {
        width: 300px;
    }

    .hidden {
        width: 300px;
        height: 380px;
    }

    .text-slider p {
        width: 300px;
    }

    .arrow-left {
        left: 30px;
    }

    .arrow-right {
        right: 30px;
    }
}

@media (max-width: 460px) {

    .arrow {
        margin-top: 40px;
    }

    .text-slider p {
        width: 270px;
    }
}

@media (max-width: 400px) {
    .text-slider p {
        width: 250px;
    }
}