<div class="container">
  <app-navigation></app-navigation> 
  <app-call-to-action></app-call-to-action>
 <app-about-us></app-about-us>
  <app-our-values></app-our-values>
  <app-our-achievements></app-our-achievements>
  <app-improved-kupchino></app-improved-kupchino>
  <app-second-our-achievements></app-second-our-achievements>
  <app-map></app-map>
  <router-outlet></router-outlet>
  <!-- <app-find-out-the-district></app-find-out-the-district> -->
  <app-footer></app-footer>
  <app-footer-bottom></app-footer-bottom> 
</div>