@font-face {
  font-family: InterBold;
  src: url(/fonts/Inter-Bold.otf) format("opentype");
}

@font-face {
  font-family: InterRegular;
  src: url(/fonts/Inter-Regular.otf) format("opentype");
}

@font-face {
  font-family: ArtBold;
  src: url(/fonts/Art-Bold.otf) format("opentype");
}

:host {
  font-family: "InterRegular";
  font-size: 18px;
  margin: 0;
  display: block;
}

.container {
  margin: 10px 20px;
  max-width: 1220px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1220px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 960px) {
  :host {
    font-size: 16px;
  }
}

@media (max-width: 680px) {
  .general-gaps {
    gap: 20px;
  }

  .btn-leave-contact {
    width: 140px;
    height: 40px;
  }
}

@media (max-width: 370px) {
  .general-gaps {
    gap: 10px;
  }
}