.titles {
    font-family: "ArtBold";
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.a:before {
    display: block;
    content: " ";
    margin-top: -130px;
    height: 10px;
    visibility: hidden;
    }

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 115px 0;
}

.general-gaps {
    gap: 30px;
}

.improved-kupchino {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    border-radius: 30px;
    width: 1170px;
    align-items: center;
}

.slider-block {
    display: flex;
    flex-direction: column;
}

.improved-img {
    border-radius: 30px;
    width: 500px;
}

@media (max-width: 1200px) {
    .improved-kupchino {
        flex-direction: column;
        width: auto;
    }
}

@media (max-width: 960px) {
    .titles {
      font-size: 30px;
    }
  }

@media (max-width: 680px) {
    .improved-img {
        width: 400px;
    }
}

@media (max-width: 470px) {
    .improved-img {
        width: 370px;
    }
}

@media (max-width: 400px) {
    .improved-img {
        width: 320px;
    }
}