<a name="our-program" class="a"></a>
<div class="wrapper general-gaps">
    <p class="title-improved-kupchino titles">Купчино, в котором мы хотим жить</p>
    <div class="improved-kupchino general-gaps">
        <img class="improved-img" src="./improved.png" alt="">
        <div class="slider-block">
            <app-improvement-slider [textArray] = "constants.textImprovedKupchino"></app-improvement-slider>          
        </div>
    </div>
</div>
