.slider-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.img-slider {
    width: 550px;
    position: absolute;
}

.hidden {
    width: 530px;
    height: 330px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.arrow {
    width: 30px;
    height: auto;
    position: absolute;
    top: 40%;
}

.arrow-left {
    transform: scale(-1, 1);
    z-index: 1;
}

.arrow-right {
    right: 10px;
}

.arrow-left {
    left: 10px;
}

@media (max-width: 680px) {
    .img-slider {
        width: 400px;
    }

    .hidden {
        width: 400px;
        height: 250px;
    }

    .arrow {
        width: 20px;
    }
}

@media (max-width: 470px) {
    .img-slider {
      width: 320px;
    }

    .hidden {
        width: 320px;
        height: 200px;
    }
}

@media (max-width: 400px) {
    .img-slider {
        width: 300px;
    }

    .hidden {
        width: 300px;
        height: 200px;
    }
}

