<div  class="slider-block">
    <img class="arrow-left arrow" src="/right-arrow.svg" alt="Стрелка влево" (click)="prevImage()">
    <div class="hidden">
        <img class="img-slider" [src]="imgsArray[currentIndex].src">
    </div>
    <img class="arrow-right arrow" src="/right-arrow.svg" alt="Стрелка вправо" (click)="nextImage()">
</div>