.titles {
  font-family: "ArtBold";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.general-gaps {
  gap: 30px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  position: relative;
}

.wrapper {
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 3;
  width: 100%;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: rgba(6, 5, 50, 0.1) 0px 4px 30px;
}

.menu-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  gap: 16px;
}

.menu-item a {
  color: #4d6259;
  text-decoration-line: none;
  padding: 0;
  transition: 0.3s
}

.menu-item a:hover {
  border-bottom: 4px solid #4d6259;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-shtab {
  width: 150px;
  border-radius: 10px;
  height: auto;
  margin-left: 6px;
}

.contacts-us {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-leave-contact {
  background-color: #4d6259;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  width: 200px;
  height: 50px;
  transition: 0.3s
}

.btn-leave-contact:hover {
  background-color: #33423c;
}

.btn-burger {
  width: 40px;
  height: 40px;
  border: none;
  position: relative;
  display: none;
}

.btn-burger span {
  position: absolute;
  left: 5px;
  height: 3px;
  width: 30px;
  background-color: #000;
}

.btn-burger span:nth-child(1) {
  transform: translateY(-10px);
  transition: transform 0.5s, opacity 0.5s;
}

.btn-burger span:nth-child(3) {
  transform: translateY(10px);
  transition: transform 0.5s, opacity 0.5s;
}

.telegram a,
.vk a {
  text-decoration-line: none;
  color: #4d6259;
  border-bottom: 1px solid #4d6259;
  transition: 0.3s;
}

.telegram a:hover,
.vk a:hover {
  border-bottom: 4px solid #4d6259;
}

.telegram,
.vk {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.img-telegram,
.img-vk {
  display: none;
}

.img-icon-heart {
  width: 20px;
  height: 20px;
  fill: aqua;
  // border: none;
}

#a {
  fill: red;
}

@media (max-width: 1220px) {
  .wrapper {
    justify-content: space-between;
  }

  .header-top {
    font-size: 12px;
  }

  .btn-leave-contact {
    z-index: 2;
  }

  .btn-burger {
    display: block;
    background-color: transparent;
    z-index: 2;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    left: -100%;
    height: 100vh;
    background-color: #f2f2f2;
    transition: transform 0.5s;
  }

  .menu-item {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    a {
      font-size: 18px;
      color: #000;
      font-family: ArtBold;
    }
  }

  .header-top.open .menu {
    transform: translateX(100%);
  }

  .header-top.open .btn-burger span:nth-child(2) {
    opacity: 0;
  }

  .header-top.open .btn-burger span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header-top.open .btn-burger span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .img-telegram,
  .img-vk {
    display: block;
    width: 30px;
  }

  .vk-telegram-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 960px) {
  .img-shtab {
    width: 120px;
  }

  .btn-burger span {
    width: 25px;
    height: 2px;
  }

  .menu-item a {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .vk,
  .telegram {
    display: none;
  }

  .img-telegram,
  .img-vk {
    display: block;
    width: 20px;
  }

  .vk-telegram-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

@media (max-width: 440px) {
  .img-shtab {
    width: 80px;
  }

  .btn-leave-contact {
    width: 140px;
    height: 40px;
  }
}
