<div class="header-top general-gaps" [ngClass]="{open: isOpenMenu}">
  <div class="wrapper">
    <div class="logo">
      <img class="img-shtab" src="shtab.png" alt="Лого штаба" />
    </div>
    <nav class="menu">
      <ul class="menu-item">
        <li (click)="toggleOpen()"><a href="#about-us">О нас</a></li>
        <li (click)="toggleOpen()"><a href="#our-values">Ценности</a></li>
        <li (click)="toggleOpen()"><a href="#our-achievements">Чего мы добились</a></li>
        <li (click)="toggleOpen()"><a href="#our-program">Наша программа</a></li>
        <li (click)="toggleOpen()"><a href="#map">Карта проблем Купчино</a></li>
        <li (click)="toggleOpen()"><a href="#candidates">Кандидаты</a></li>
        <div class="vk-telegram-block">
          <li><a href=""><img class="img-vk" src="vk.png" alt="Наш вк"></a></li>
          <li><a href=""><img class="img-telegram" src="telegram.png" alt="Наш тг"></a></li>
        </div>
      </ul>
    </nav>
    <div class="contacts-us general-gaps">
      <div class="telegram">
        <img class="img-icon-heart" src="icon-heart.svg" alt="" />
        <a href="{{tg}}" target="_top">ТГ</a>
      </div>
      <div class="vk">
        <img class="img-icon-heart" src="icon-heart.svg" alt="" />
        <a href="{{vk}}">ВК</a>
      </div>
      <a href="#footer"><button class="btn-leave-contact">Оставить контакт</button></a>
      <button class="btn-burger"  (click)="toggleOpen()" >
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</div>