<a name="our-values" class="a"></a>
<div class="our-values general-gaps">
    <p class="title-our-values titles">Наши ценности</p>
    <div class="items-our-values">
      <p class="item-bold-our-values">Демократия – честные выборы</p>
      <p class="item-regular-our-values">За честные выборы на всех этапах, от регистрации кандидатов до подсчета голосов.</p>
    </div>
    <div class="items-our-values">
      <p class="item-bold-our-values">Открытость и публичность власти</p>
      <p class="item-regular-our-values">Прозрачность финансовых расходов, прямые трансляции с заседаний депутатов.</p>
    </div>
    <div class="items-our-values">
      <p class="item-bold-our-values">Работа с людьми и для людей</p>
      <p class="item-regular-our-values">Реализация бюджетных проектов с участием местных жителей.</p>
    </div>
    <div class="items-our-values">
      <p class="item-bold-our-values">Комфортные для жизни дворы</p>
      <p class="item-regular-our-values">Защита зеленых скверов и качественное благоустройство.</p>
    </div>
  </div>