.titles {
  font-family: "ArtBold";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.general-gaps {
  gap: 30px;
}

.a:before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 10px;
  visibility: hidden;
  }

.our-values {
  display: flex;
  flex-direction: column;
  margin: 115px 0;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.item-bold-our-values {
  font-family: "ArtBold";
  margin: 0;
  padding-bottom: 10px;
}

.item-regular-our-values {
  margin: 0;
}

.items-our-values {
  background-color: #f2f2f2;
  border-radius: 32px;
  border: none;
  width: 800px;
  text-align: left;
  padding: 30px 45px;
}

@media (max-width: 960px) {
  .items-our-values {
    width: 600px;
  }

  .titles {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .items-our-values {
    width: 500px;
  }
}

@media (max-width: 680px) {
  .items-our-values {
    width: 400px;
  }
}

@media (max-width: 520px) {
  .items-our-values {
    width: 300px;
  }
}

@media (max-width: 440px) {
  .items-our-values {
    width: 270px;
  }
}

@media (max-width: 390px) {
  .items-our-values {
    width: 250px;
  }
}