<div class="our-achievements  general-gaps">
    <div class="p">
        <p class="title-our-achievements titles">Чего мы уже добились в</p>
        <p class="title-our-achievements titles">муниципалитете</p>
        <p class="title-our-achievements titles">Купчино</p>
    </div>
    <div class="items-our-achievements general-gaps">
        <div class="items1-our-achievements general-gaps">
            <div class="item-our-achievements">
                <app-slider [imgsArray]="constants.imgsSecondOurAchievements1"></app-slider>
                <p class="img-text">Вместе с активными жителями собирали подписи против закона о КРТ.</p>
            </div>
            <div class="item-our-achievements">
            <app-slider [imgsArray]="constants.imgsSecondOurAchievements2"></app-slider>
            <p class="img-text">Во дворе того же дома установили несколько самодельных скамеек, которых так не хватало жителям. </p>
            </div>
        </div>
        <div class="items2-our-achievements general-gaps">
            <div class="item-our-achievements">
            <app-slider [imgsArray]="constants.imgsSecondOurAchievements3"></app-slider>
            <p class="img-text">Организовали сбор подписей в защиту площадки и сквера на проспекте Славы 12к1 от сноса. Привлекли к проблеме внимание СМИ и телевидения. </p>
            </div>
            <div class="item-our-achievements">
            <app-slider [imgsArray]="constants.imgsSecondOurAchievements4"></app-slider>
            <p class="img-text">Провели несколько детских праздников, организовали уличный пленэр</p>
            </div>
        </div>
  </div>